<span class="created-by">© 2019 <a href="https://lympestudio.com" target="_blank">Lympe Studio</a>. All Rights Reserved</span>
<div class="socials">
  <a href="https://www.facebook.com/lympestudio.inc" target="_blank"><i class="fab fa-facebook-square"></i></a>
  <a href="https://twitter.com/lympe_studio" target="_blank"><i class="fab fa-twitter-square"></i></a>
  <a href="https://www.instagram.com/lympe_studio/" target="_blank"><i class="fab fa-instagram"></i></a>
  <a href="https://www.youtube.com/channel/UC__2JxMjl_K1MZ4IBpiolpw" target="_blank"><i class="fab fa-youtube"></i></a>
</div>
