<nb-card size="medium">
  <div class="picture" [style.backgroundImage]="'url(http://lympestudio.com/images/apps/' + app.picture + ')'"></div>

  <div class="details">
    <div class="h2">{{app.title}}</div>
    <div class="update">
      <p>Last update: 18/09/2019</p>
    </div>
    <div class="update">
      <h4>Information</h4>
      <p>New skins added</p>
    </div>
  </div>

  <nb-card-footer>
    <a href="https://akveo.github.io/react-native-ui-kitten" target="_blank">
      <nb-icon icon="globe" pack="eva"></nb-icon>
    </a>
    <a [href]="app.linkPlaystore" target="_blank">
      <i class="link-icon ion-social-apple"></i>
    </a>
    <a [href]="app.linkPlaystore" target="_blank">
      <i class="link-icon ion-social-android"></i>
    </a>
    <a href="https://github.com/akveo/react-native-ui-kitten" target="_blank">
      <nb-icon icon="github" pack="eva"></nb-icon>
    </a>
  </nb-card-footer>
</nb-card>
