<div class="row">

  <div class="col-md-4">
    <ngx-review title="Today's money" [value]=""></ngx-review>
  </div>

  <div class="col-md-4">
    <ngx-review title="Money evolution" [value]=""></ngx-review>
  </div>

  <div class="col-md-4">
    <ngx-review title="Total money" [value]=""></ngx-review>
  </div>

</div>

<div class="row">

  <div class="col-md-12">
    <ngx-ecommerce-visitors-analytics title="Money mountain" ></ngx-ecommerce-visitors-analytics>
  </div>

</div>

<div class="row">

  <div class="col-md-12">
    <ngx-ecommerce-charts title="Money charts"></ngx-ecommerce-charts>
  </div>

</div>
