<ngx-dashboard></ngx-dashboard>
<ngx-earning-card></ngx-earning-card>
<ngx-solar></ngx-solar>
<ngx-chart-panel-header></ngx-chart-panel-header>
<ngx-chart-panel-summary></ngx-chart-panel-summary>
<ngx-reviews></ngx-reviews>
<ngx-country-orders></ngx-country-orders>
<ngx-country-orders-chart></ngx-country-orders-chart>
<ngx-country-orders-map></ngx-country-orders-map>
<ngx-downloads></ngx-downloads>
<ngx-earning-card-back></ngx-earning-card-back>
<ngx-earning-card-front></ngx-earning-card-front>
<ngx-earning-live-update-chart></ngx-earning-live-update-chart>
