<div class="row">
  <div class="col-xxl-12">
    <nb-card>
      <nb-card-body>
        <div class="progress-info">
          <div class="h1 text-center m-0">{{ today | date:'dd/MM/yyyy à HH:mm:ss'}}</div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">

  <div class="col-xxl-3">
    <ngx-progress-section period="total"></ngx-progress-section>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section period="today"></ngx-progress-section>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section period="week"></ngx-progress-section>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section period="month"></ngx-progress-section>
  </div>

</div>
