<div class="row">
  <div class="col-md-4">
    <app-card-number-info title="Today's downloads" [value]="todayDownloads"></app-card-number-info>
  </div>

  <div class="col-md-4">
    <app-card-number-info title="Downloads evolution" [value]="'+25%'"></app-card-number-info>
  </div>

  <div class="col-md-4">
    <app-card-number-info title="Total downloads" [value]="totalDownloads"></app-card-number-info>
  </div>

  <div class="col-md-12">
    <app-lines-chart title="Downloads analytics" subtitle="All mobile games" [legends]="['Android', 'IOS']" [chartData]="chartData"></app-lines-chart>
  </div>
</div>
