<div class="row" *ngIf="app">
  <div class="col-md-4">
    <app-card-number-info [appId]="appId" title="Total downloads" [value]="app.downloads"></app-card-number-info>
    <app-card-number-info [appId]="appId" title="Today downloads" [value]="app.todayDownloads"></app-card-number-info>
  </div>

  <div class=" col-md-4">
    <app-card-game-info [app]="app"></app-card-game-info>
  </div>

  <div class="col-md-4">
    <app-card-number-info [appId]="appId" title="Grades overall" [value]="(totalRate/app.reviews.length) + '/5'"></app-card-number-info>
    <app-card-number-info [appId]="appId" title="Grades today" [value]="(todayRate/todayReview) + ((todayRate/todayReview) ? '/5' : '')"></app-card-number-info>
  </div>

  <div class="col-md-12" style="margin-bottom: 1.875rem;">
    <app-bars-chart [appId]="appId"></app-bars-chart>
  </div>

  <div class="col-md-12">
    <app-reviews-list title="Reviews list" [reviews]="app.reviews"></app-reviews-list>
  </div>
</div>
